<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <object th:include="head :: head" th:remove="tag" ></object>
</head>

<body>

	<div class="container" >
	
		 <div class="row">
			<div th:replace="navbar :: navbar" ></div>
		</div>


		<div id="game_stats_panel" class="panel panel-default">

			<div class="panel-heading">Stats on Playing</div>

			<div class="panel-body">
				<div class="row">
				
					<table class="table">
						<tbody>
							<tr th:each="gameStat: ${gameStats}">
								<td th:text="${gameStat['key']}" />
								<td th:text="${gameStat['value']}" />
							</tr>
						</tbody>
					</table>

				</div>
			</div>
		</div>

	</div>
			
</body>
</html>