<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <object th:include="head :: head" th:remove="tag" ></object>
</head>

<body>

	<div class="container" >
	
		 <div class="row">
			<div th:replace="navbar :: navbar" ></div>
		</div>
		
		 <div class="row">
			<table class="table" >
				<tbody>
					<tr th:each="gameStat: ${gameStats}">
						<td th:text="${gameStat['key']}" />
						<td th:text="${gameStat['value']}" />
					</tr>
				</tbody>
			</table>
		
		</div>
			
	</div>
			
</body>
</html>