<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<!-- groups fragment -->
<div th:fragment="groups">

	<ul class="nav nav-tabs">
		<li class="active" ><a data-toggle="tab" th:href="${'#groups_seeding_' + round.num}" th:if="${round.num == 3}">Seeding</a></li>
		<!-- no seeding for 2nd groups round -->
		<li><a data-toggle="tab" th:href="${'#groups_round_' + round.num}"
			 th:if="${round.stage.name() != 'NOT_STARTED' AND round.stage.name() != 'ON_PREVIEW'}" >Round</a></li>
		<li><a data-toggle="tab" th:href="${'#groups_games_' + round.num}"
			 th:if="${round.stage.name() != 'NOT_STARTED' AND round.stage.name() != 'ON_PREVIEW'}" >Matches</a></li>
	</ul>

	<div id="groups_content" class="tab-content">
		<div th:id="${'groups_seeding_' + round.num}" class="tab-pane active" th:if="${round.num == 3}">
			<!-- no seeding for 2nd groups round -->
			<div th:replace="/season/groups_fragments :: groups_seeding(round=${round})"></div>
		</div>
		<div th:id="${'groups_round_' + round.num}" class="tab-pane"
			 th:if="${round.stage.name() != 'NOT_STARTED' AND round.stage.name() != 'ON_PREVIEW'}" >
			<div th:replace="/season/groups_fragments :: groups_round(round=${round})"></div>
		</div>
		<div th:id="${'groups_games_' + round.num}" class="tab-pane"
			th:if="${round.stage.name() != 'NOT_STARTED' AND round.stage.name() != 'ON_PREVIEW'}" >
			<div th:replace="/season/groups_fragments :: groups_games(round=${round})"></div>
		</div>
	</div>

</div>

<!-- groups seeding fragment -->
<div th:fragment=" groups_seeding">

	<div class="row" th:if="${round.stage.name() == 'NOT_STARTED' and round.num == 3}">
		<div class="panel panel-default">
			<div class="panel-heading">Current Teams</div>
		</div>
		<div class="panel-body">
			<table class="table">
				<tbody>
					<tr>
						<th>team</th>
						<th>coefficients</th>
					</tr>
					<tr th:each="teamCoeff: ${groupsPreviews.get(round.num-3).strong}">
						<td th:text="${teamCoeff['key'].name}" />
						<td th:text="${#numbers.formatInteger(teamCoeff['value'],0,'COMMA')}" />
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="row" th:if="${round.stage.name() != 'NOT_STARTED'}">
		<div class="col-md-4">
			<div class="panel panel-default">

				<div class="panel-heading">Pot 1</div>

				<div class="panel-body">
					<table class="table">
						<tbody>
							<tr>
								<th>team</th>
								<th>coefficients</th>
							</tr>
							<tr th:each="teamCoeff: ${groupsPreviews.get(round.num-3).strong}">
								<td th:text="${teamCoeff['key'].name}" />
								<td th:text="${#numbers.formatInteger(teamCoeff['value'],0,'COMMA')}" />
							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>

		<div class="col-md-4">
			<div class="panel panel-default">

				<div class="panel-heading">Pot 2</div>

				<div class="panel-body">
					<table class="table">
						<tbody>
							<tr>
								<th>team</th>
								<th>coefficients</th>
							</tr>
							<tr th:each="teamCoeff: ${groupsPreviews.get(round.num-3).medium}">
								<td th:text="${teamCoeff['key'].name}" />
								<td th:text="${#numbers.formatInteger(teamCoeff['value'],0,'COMMA')}" />
							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>

		<div class="col-md-4">
			<div class="panel panel-default">

				<div class="panel-heading">Pot 3</div>

				<div class="panel-body">
					<table class="table">
						<tbody>
							<tr>
								<th>team</th>
								<th>coefficients</th>
							</tr>
							<tr th:each="teamCoeff: ${groupsPreviews.get(round.num-3).weak}">
								<td th:text="${teamCoeff['key'].name}" />
								<td th:text="${#numbers.formatInteger(teamCoeff['value'],0,'COMMA')}" />
							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>

	</div>

</div>

<!-- groups round fragment -->
<div th:fragment=" groups_round">

	<!-- round of 12 groups view -->
	<div th:if="${round.num == 1}">
		<div class="row">
			<div class="col-md-6">
				<div th:replace="/season/groups_fragments :: group_view(group=${groupsRounds.get(round.num-3).groups.get(0)})"></div>
			</div>
			<div class="col-md-6">
				<div th:replace="/season/groups_fragments :: group_view(group=${groupsRounds.get(round.num-3).groups.get(1)})"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div th:replace="/season/groups_fragments :: group_view(group=${groupsRounds.get(round.num-3).groups.get(2)})"></div>
			</div>
			<div class="col-md-6">
				<div th:replace="/season/groups_fragments :: group_view(group=${groupsRounds.get(round.num-3).groups.get(3)})"></div>
			</div>
		</div>
	</div>

	<!-- round of 8 groups view -->
	<div th:if="${round.num == 2}">
		<div class="row">
			<div class="col-md-6">
				<div th:replace="/season/groups_fragments :: group_view(group=${groupsRounds.get(round.num-4).groups.get(0)})"></div>
			</div>
			<div class="col-md-6">
				<div th:replace="/season/groups_fragments :: group_view(group=${groupsRounds.get(round.num-4).groups.get(1)})"></div>
			</div>
		</div>
	</div>

</div>

<!-- groups games fragment -->
<div th:fragment=" groups_games">

	<span>Day 1</span>
	<div th:replace="/season/matches_fragments :: matches_day(games=${groupsRounds.get(round.num-3).gamesPerDay.get(1)})"></div>

	<span>Day 2</span>
	<div th:replace="/season/matches_fragments :: matches_day(games=${groupsRounds.get(round.num-3).gamesPerDay.get(2)})"></div>

	<span>Day 3</span>
	<div th:replace="/season/matches_fragments :: matches_day(games=${groupsRounds.get(round.num-3).gamesPerDay.get(3)})"></div>

</div>

<!-- group vew fragment -->
<div th:fragment="group_view">

	<div class="panel panel-default">

		<div class="panel-heading" th:text="${group.name}"></div>

		<div class="panel-body">
			<table class="table">
				<tbody>
					<tr>
						<th>Pos</th>
						<th>team</th>
						<th>points</th>
						<th>W</th>
						<th>D</th>
						<th>L</th>
						<th>GS</th>
						<th>GC</th>
						<th>+/-</th>
					</tr>
					<tr th:each="team,iter : ${group.teams}"
						th:class="${round == 1} ? 
						(${iter.index &lt; 2} ? 'info' : 'danger' ) :
						(${iter.index &lt; 1} ? 'info' : 
							(${iter.index &lt; 3} ? 'warning' : 'danger'))">
						<td th:text="${iter.index + 1} + '.' " />
						<td th:text="${team.name}" />
						<td th:text="${group.teamsStats.get(team).points}" />
						<td th:text="${group.teamsStats.get(team).wins}" />
						<td th:text="${group.teamsStats.get(team).draws}" />
						<td th:text="${group.teamsStats.get(team).losses}" />
						<td th:text="${group.teamsStats.get(team).goalsScored}" />
						<td th:text="${group.teamsStats.get(team).goalsConceded}" />
						<td th:text="${group.teamsStats.get(team).goalsScored} - ${group.teamsStats.get(team).goalsConceded}" />
					</tr>
				</tbody>
			</table>
		</div>

	</div>

</div>

</html>