<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<!-- groups fragment -->
<div th:fragment="groups">

	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" th:href="${'#groups_preview_' + round}">Preview</a></li>
		<li><a data-toggle="tab" th:href="${'#groups_round_' + round}">Round</a></li>
	</ul>

	<div class="tab-content">
		<div th:id="${'groups_preview_' + round}" class="tab-pane active">
			<div th:replace="/season/groups_fragments :: groups_preview(round=${round})"></div>
		</div>
		<div th:id="${'groups_round_' + round}" class="tab-pane">
			<div th:replace="/season/groups_fragments :: groups_round(round=${round})"></div>
		</div>
	</div>


</div>

<!-- groups preview fragment -->
<div th:fragment=" groups_preview">

	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">

				<div class="panel-heading">Pot 1</div>

				<div class="panel-body">
					<table class="table">
						<tbody>
							<tr>
								<th>team</th>
								<th>coefficients</th>
							</tr>
							<tr th:each="teamCoeff: ${groupsPreviews.get(round-1).strong}">
								<td th:text="${teamCoeff['key'].name}" />
								<td th:text="${#numbers.formatInteger(teamCoeff['value'],0,'COMMA')}" />
							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>

		<div class="col-md-4">
			<div class="panel panel-default">

				<div class="panel-heading">Pot 2</div>

				<div class="panel-body">
					<table class="table">
						<tbody>
							<tr>
								<th>team</th>
								<th>coefficients</th>
							</tr>
							<tr th:each="teamCoeff: ${groupsPreviews.get(round-1).medium}">
								<td th:text="${teamCoeff['key'].name}" />
								<td th:text="${#numbers.formatInteger(teamCoeff['value'],0,'COMMA')}" />
							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>

		<div class="col-md-4">
			<div class="panel panel-default">

				<div class="panel-heading">Pot 3</div>

				<div class="panel-body">
					<table class="table">
						<tbody>
							<tr>
								<th>team</th>
								<th>coefficients</th>
							</tr>
							<tr th:each="teamCoeff: ${groupsPreviews.get(round-1).weak}">
								<td th:text="${teamCoeff['key'].name}" />
								<td th:text="${#numbers.formatInteger(teamCoeff['value'],0,'COMMA')}" />
							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>

	</div>

</div>

<!-- groups round fragment -->
<div th:fragment=" groups_round">

	BBBBBBBBBBBBBB
	<div th:text="${round}"></div>

</div>
</html>