<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- matches day fragment -->
<div th:fragment="matches_day">

	<table class="table col-md-4" >
		<tr th:each="game: ${games}" >
			<td class="col-md-2" th:text="${game.day}" ></td>
			<td class="col-md-2" th:text="${game.homeTeam}" ></td>
			<td class="col-md-1" th:text="${game.result.goalsMadeByHomeTeam}" ></td>
			<td class="col-md-1" > - </td>
			<td class="col-md-1" th:text="${game.result.goalsMadeByAwayTeam}" ></td>
			<td class="col-md-2" th:text="${game.awayTeam}" ></td>
		</tr>
	</table>
	
</div>

</html>