<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- playoffs fragment -->
<div th:fragment="playoffs">

	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab"  href="#playoffs_bracket" >Bracket</a></li>
		<li><a data-toggle="tab" href="#playoffs_games" >Matches</a></li>
	</ul>

	<div id="quals_content" class="tab-content" >
		<div id="playoffs_bracket" class="tab-pane active">
			<div th:replace="/season/playoffs_fragments :: playoffs_bracket"></div>
		</div>
		<div  id="playoffs_games"  class="tab-pane" >
			<div th:replace="/season/playoffs_fragments :: playoffs_games"></div>
		</div>
	</div>

</div>

<!-- playoffs_bracket fragment -->
<div th:fragment="playoffs_bracket">
AAAA
</div>

<!-- playoffs_games fragment -->
<div th:fragment="playoffs_games">
BBBB
</div>


</html>