<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<!-- quals fragment -->
<div th:fragment="quals">

	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab"  th:href="${'#quals_seeding_' + round.num}" >Seeding</a></li>
		<li><a data-toggle="tab"  th:href="${'#quals_games_' + round.num}"
			 th:if="${round.stage.name() != 'NOT_STARTED' AND round.stage.name() != 'ON_PREVIEW'}" >Matches</a></li>
<!--
	<li><a data-toggle="tab"  th:href="${'#quals_games_replays' + round.num}"
			th:unless="${#lists.isEmpty(qualsround.get(round.num-1).gamesPerDay.get(-1))}" >Match Replays</a></li>  -->
	</ul>

	<div id="quals_content" class="tab-content" >
		<div th:id="${'quals_seeding_' + round.num}" class="tab-pane active">
			<div th:replace="/season/quals_fragments :: quals_seeding(round.num=${round.num})"></div>
		</div>
		<div  th:id="${'quals_games_' + round.num}"  class="tab-pane" 
			th:if="${round.stage.name() != 'NOT_STARTED' AND round.stage.name() != 'ON_PREVIEW'}" >
			<div th:replace="/season/quals_fragments :: quals_games(round.num=${round.num})"></div>
		</div>
<!--
		<div  th:id="${'quals_games_replays' + round.num}"  class="tab-pane">
			<div th:replace="/season/quals_fragments :: quals_games_replays(round.num=${round.num})"
				th:unless="${#lists.isEmpty(qualsround.get(round.num-1).gamesPerDay.get(-1))}"></div>
		</div> -->
	</div>


</div>

<!-- quals seeding fragment -->
<div th:fragment="quals_seeding">

	<div class="row" th:if="${round.stage.name() == 'NOT_STARTED'}">
		<div class="panel panel-default">
			<div class="panel-heading">Current Teams</div>
		</div>
		<div class="panel-body">
			<table class="table">
				<tbody>
					<tr>
						<th>team</th>
						<th>coefficients</th>
					</tr>
					<tr th:each="teamCoeff: ${qualsPreviews.get(round.num-1).strong}">
						<td th:text="${teamCoeff['key'].name}" />
						<td th:text="${#numbers.formatInteger(teamCoeff['value'],0,'COMMA')}" />
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="row" th:if="${round.stage.name() != 'NOT_STARTED'}" >
		<div class="col-md-6">
			<div class="panel panel-default">

				<div class="panel-heading">Seeded</div>

				<div class="panel-body">
					<table class="table">
						<tbody>
							<tr>
								<th>team</th>
								<th>coefficients</th>
							</tr>
							<tr th:each="teamCoeff: ${qualsPreviews.get(round.num-1).strong}">
								<td th:text="${teamCoeff['key'].name}" />
								<td th:text="${#numbers.formatInteger(teamCoeff['value'],0,'COMMA')}" />
							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>

		<div class="col-md-6">

			<div class="panel panel-default">

				<div class="panel-heading">Unseeded</div>

				<div class="panel-body">
					<table class="table">
						<tbody>
							<tr>
								<th>team</th>
								<th>coefficients</th>
							</tr>
							<tr th:each="teamCoeff: ${qualsPreviews.get(round.num-1).weak}">
								<td th:text="${teamCoeff['key'].name}" />
								<td th:text="${#numbers.formatInteger(teamCoeff['value'],0,'COMMA')}" />
							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>

	</div>

</div>

<!-- quals round.num fragment -->
<div th:fragment="quals_games">
	<div th:replace="/season/matches_fragments :: matches_day(games=${round.gamesPerDay.get(1)})"></div>
</div>

<!-- quals round.num fragment -->
<div th:fragment="quals_games_replays">
	<div th:replace="/season/matches_fragments :: matches_day(games=${round.gamesPerDay.get(-1)})"></div>
</div>

</html>