<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<!-- quals fragment -->
<div th:fragment="quals">

	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab"  th:href="${'#quals_seeding_' + round}" >Seeding</a></li>
		<li><a data-toggle="tab"  th:href="${'#quals_games_' + round}"  >Games</a></li>
	</ul>

	<div id="quals_content" class="tab-content" >
		<div th:id="${'quals_seeding_' + round}" class="tab-pane active">
			<div th:replace="/season/quals_fragments :: quals_seeding(round=${round})"></div>
		</div>
		<div  th:id="${'quals_games_' + round}"  class="tab-pane">
			<div th:replace="/season/quals_fragments :: quals_games(round=${round})"></div>
		</div>
	</div>


</div>

<!-- quals seeding fragment -->
<div th:fragment="quals_seeding">

	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">

				<div class="panel-heading">Seeded</div>

				<div class="panel-body">
					<table class="table">
						<tbody>
							<tr>
								<th>team</th>
								<th>coefficients</th>
							</tr>
							<tr th:each="teamCoeff: ${qualsPreviews.get(round-1).strong}">
								<td th:text="${teamCoeff['key'].name}" />
								<td th:text="${#numbers.formatInteger(teamCoeff['value'],0,'COMMA')}" />
							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>

		<div class="col-md-4">

			<div class="panel panel-default">

				<div class="panel-heading">Unseeded</div>

				<div class="panel-body">
					<table class="table">
						<tbody>
							<tr>
								<th>team</th>
								<th>coefficients</th>
							</tr>
							<tr th:each="teamCoeff: ${qualsPreviews.get(round-1).weak}">
								<td th:text="${teamCoeff['key'].name}" />
								<td th:text="${#numbers.formatInteger(teamCoeff['value'],0,'COMMA')}" />
							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>

	</div>

</div>

<!-- quals round fragment -->
<div th:fragment="quals_games">

	<table class="table col-md-4" th:each="matchup: ${qualsRounds.get(round-1).matchups}" >
		<tr th:each="game: ${matchup.games}" >
			<td class="col-md-2" th:text="${game.homeTeam}" ></td>
			<td class="col-md-1" th:text="${game.result.goalsMadeByHomeTeam}" ></td>
			<td class="col-md-1" > - </td>
			<td class="col-md-1" th:text="${game.result.goalsMadeByAwayTeam}" ></td>
			<td class="col-md-2" th:text="${game.awayTeam}" ></td>
		</tr>
	</table>
	
</div>

</html>