<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- season seedings fragment -->
<div th:fragment="season_seeding">

	<div class="panel panel-default">

		<div class="panel-heading">Season Seeding</div>

		<div class="panel-body">


			<div class="row">
				<div class="col-md-6">
					<table class="table">
						<tbody>
							<tr>
								<th>Pos</th>
								<th>team</th>
								<th>coefficients</th>
							</tr>
							<tr th:each="teamCoeff,iter : ${teamsWithCoeffs}" th:if="${iter.index &lt; #maps.size(teamsWithCoeffs)/2}"
								th:class="${#lists.contains(toGroups, teamCoeff['key'])} ? 'info' : (${ #lists.contains(toQuals2, teamCoeff['key']) } ? 'success' : '') ">
								<td th:text="${iter.index + 1} + '.' " />
								<td><i th:if="${teamCoeff['key'] == champion}" class="fa fa-diamond"></i> <span
									th:text="${teamCoeff['key'].name}"></span></td>
								<td th:text="${#numbers.formatInteger(teamCoeff['value'],0,'COMMA')}" />
							</tr>
						</tbody>
					</table>

				</div>

				<div class="col-md-6">
					<table class="table">
						<tbody>
							<tr>
								<th>Pos</th>
								<th>team</th>
								<th>coefficients</th>
							</tr>
							<tr th:each="teamCoeff,iter : ${teamsWithCoeffs}" th:if="${iter.index &gt;= #maps.size(teamsWithCoeffs)/2}"
								th:class="${#lists.contains(toGroups, teamCoeff['key'])} ? 'info' : (${ #lists.contains(toQuals2, teamCoeff['key']) } ? 'success' : '') ">
								<td th:text="${iter.index + 1} + '.' " />
								<td><i th:if="${teamCoeff['key'] == champion}" class="fa fa-diamond"></i> <span
									th:text="${teamCoeff['key'].name}"></span></td>
								<td th:text="${#numbers.formatInteger(teamCoeff['value'],0,'COMMA')}" />
							</tr>
						</tbody>
					</table>

				</div>
			</div>


		</div>
	</div>
</div>

</html>