<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- season preview fragment -->
<div th:fragment="season_preview">

	<table class="table">
		<tbody>
			<tr>
				<th>Pos</th>
				<th>team</th>
				<th>coefficients</th>
			</tr>
			<tr th:each="teamCoeff,iter : ${teamsWithCoeffs}"
				th:class="${#lists.contains(toGroups, teamCoeff['key'])} ? 'info' : (${ #lists.contains(toQuals2, teamCoeff['key']) } ? 'success' : '') ">
				<td th:text="${iter.index + 1} + '.' " />
				<td><i th:if="${teamCoeff['key'] == champion}" class="fa fa-diamond"></i> <span
					th:text="${teamCoeff['key'].name}"></span></td>
				<td th:text="${#numbers.formatInteger(teamCoeff['value'],0,'COMMA')}" />
			</tr>
		</tbody>
	</table>

</div>

<!-- quals fragment -->
<div th:fragment="quals">

	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab"  th:href="${'#quals_preview_' + round}" >Preview</a></li>
		<li><a data-toggle="tab"  th:href="${'#quals_round_' + round}"  >Round</a></li>
	</ul>

	<div class="tab-content">
		<div th:id="${'quals_preview_' + round}" class="tab-pane active">
			<div th:replace="/seasons/quals_fragments :: quals_preview(round=${round})"></div>
		</div>
		<div  th:id="${'quals_round_' + round}"  class="tab-pane">
			<div th:replace="/seasons/quals_fragments :: quals_round(round=${round})"></div>
		</div>
	</div>


</div>

<!-- groups fragment -->
<div th:fragment="groups">

	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" th:href="${'#groups_preview_' + round}">Preview</a></li>
		<li><a data-toggle="tab" th:href="${'#groups_round_' + round}" >Round</a></li>
	</ul>

	<div class="tab-content">
		<div th:id="${'groups_preview_' + round}"  class="tab-pane active">
			<div th:replace="/seasons/groups_fragments :: groups_preview(round=${round})"></div>
		</div>
		<div th:id="${'groups_round_' + round}"  class="tab-pane">
			<div th:replace="/seasons/groups_fragments :: groups_round(round=${round})"></div>
		</div>
	</div>


</div>



</html>