<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Core Online Tutorial - List Products</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />
<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
	th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
<link href="../../static/css/spring-core.css"
	th:href="@{css/spring-core.css}" rel="stylesheet" media="screen" />
</head>
<body>

	<div th:each="group: ${groups}">
		<div th:text="${group.name}"> </div>
			
		<table>
			<tbody>
				<tr>
					<th>team</th>
					<th>points</th>
					<th>W</th>
					<th>D</th>
					<th>L</th>
					<th>GS</th>
					<th>GC</th>
					<th>+/-</th>
				</tr>
				<tr th:each="team: ${group.teamsOrdered}">
					<td th:text="${team.name}" />
					<td th:text="${group.teamsStats.get(team).points}" />
					<td th:text="${group.teamsStats.get(team).wins}" />
					<td th:text="${group.teamsStats.get(team).draws}" />
					<td th:text="${group.teamsStats.get(team).losses}" />
					<td th:text="${group.teamsStats.get(team).goalsScored}" />
					<td th:text="${group.teamsStats.get(team).goalsConceded}" />
					<td th:text="${group.teamsStats.get(team).goalsScored} - ${group.teamsStats.get(team).goalsConceded}" />
				</tr>
			</tbody>
		</table>

		<br/>
				
		<div th:each="game: ${group.games}">
			<div th:text="${game.homeTeam} + ' ' + ${game.result} + ' ' + ${game.awayTeam}"> </div>
		</div>
		
		<br/>
		<br/>

	</div>

</body>
</html>