<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head th:fragment="head" >
	<title>Footie</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	
	<!-- 
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}" />
		<script th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.min.js}"></script>
		<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
	 -->
	 
	<!--  FIX ME the above is not loading js events stuff -->
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



	<!-- why does this not work with @ ??? and works directly ? -->
    <link rel="stylesheet" href="/webjars/font-awesome/css/font-awesome.min.css"></link>

	<!-- footie css -->
    <link rel="stylesheet" type="text/css" th:href="@{/style/footie.css}"></link>
    
</head>

</html>