<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<object th:include="head :: head" th:remove="tag"></object>
</head>

<body>

	<div th:fragment="navbar">

		<div class="btn-group" role="group" aria-label="Button group with nested dropdown">

			<button class="btn" type="button">
				Current
			</button>

			<div class="btn-group" role="group">
				<button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
					Management <span class="caret"></span>
				</button>

				<ul class="dropdown-menu">
					<li><a href='/management/stages'>Stages</a></li>
					<li><a href='/management/game_stats'>Game Stats</a></li>
				</ul>

			</div>

			<div class="btn-group" role="group">
				<button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
					History <span class="caret"></span>
				</button>

				<ul class="dropdown-menu">
					<li><a href='/history/past_winners'>Past Winners</a></li>
					<li><a href='/history/records'>Records</a></li>
					<li><a href='/history/stats'>Stats</a></li>
					<li class="divider"></li>
					<li><a href='/history/coefficients'>Coefficients</a></li>
				</ul>

			</div>


		</div>


	</div>

</body>
</html>