<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <object th:include="head :: head" th:remove="tag" ></object>
</head>

<body>

	<div th:fragment="navbar">

		<nav class="navbar navbar-expand-sm bg-light">

			<div class="dropdown">
				<button class="btn dropdown-toggle" type="button"
					data-toggle="dropdown">
					Management <span class="caret"></span>
				</button>

				<ul class="dropdown-menu">
					<li><a href='#'>Start new Season</a></li>
					<li><a href='#'>Total Game Stats</a></li>
				</ul>

			</div>

			<div class="dropdown">
				<button class="btn dropdown-toggle" type="button"
					data-toggle="dropdown">
					History <span class="caret"></span>
				</button>

				<ul class="dropdown-menu">
					<li><a href='/history/past_winners'>Past Winners</a></li>
					<li><a href='/history/stats'>Stats</a></li>
					<li class="divider"></li>
					<li><a href='/history/coefficients'>Coefficients</a></li>
				</ul>

			</div>

		</nav>

	</div>

</body>
</html>