<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Footie</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />
<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
	th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
<link href="../../static/css/spring-core.css"
	th:href="@{css/spring-core.css}" rel="stylesheet" media="screen" />
</head>
<body>

	<h2>Season</h2>

	<div th:with="currentUrl=${#httpServletRequest.requestURI}">
   		<a th:href="@{${currentUrl} + '/preview'}">Preview</a>
		<br/>
   		<a th:href="@{${currentUrl} + '/quals/1'}">1st qualification round</a>
 		<br/>
   		<a th:href="@{${currentUrl} + '/quals/2'}">2nd qualification round</a>
		<br/>
   		<a th:href="@{${currentUrl} + '/groups/1'}">1st groups Round</a>
		<br/>
   		<a th:href="@{${currentUrl} + '/groups/2'}">2nd groups round</a>
		<br/>
   		<a th:href="@{${currentUrl} + '/playoffs'}">Playofs</a>
		<br/>
	</div>


</body>
</html>