<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Core Online Tutorial - List Products</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />
<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
	th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
<link href="../../static/css/spring-core.css"
	th:href="@{css/spring-core.css}" rel="stylesheet" media="screen" />
</head>
<body>
	<table>
		<tbody>
			<tr>
				<th>Team</th>
				<th>W</th>
				<th>D</th>
				<th>L</th>
				<th>PS</th>
				<th>PC</th>
				<th>+/-</th>
			</tr>
			<tr th:each="teamStat: ${teamsStats}">
				<td th:text="${teamStat['key'].name}" />
				<td th:text="${teamStat['value'].wins}" />
				<td th:text="${teamStat['value'].draws}" />
				<td th:text="${teamStat['value'].losses}" />
				<td th:text="${teamStat['value'].goalsScored}" />
				<td th:text="${teamStat['value'].goalsConceded}" />
				<td th:text="${teamStat['value'].goalsScored - teamStat['value'].goalsConceded}" />
			</tr>
		</tbody>
	</table>
	
</body>
</html>