<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <object th:include="head :: head" th:remove="tag" ></object>
</head>

<body>

	<div class="container" >
	
		 <div class="row">
			<div th:replace="navbar :: navbar" ></div>
		</div>
		
		 <div class="row">
			<table class="table" >
				<tbody>
					<tr>
						<th>team</th>
						<th>coefficients</th>
					</tr>
					
					<!-- https://stackoverflow.com/questions/51305513/thymeleaf-conditions-with-iterator -->
					<tr th:each="teamCoeff,iter : ${teamsCoeffs}" th:class="${iter == 1} ? 'info' : '' " >
						<td th:text="${teamCoeff['key'].name}" />
						<td th:text="${#numbers.formatInteger(teamCoeff['value'],0,'COMMA')}" />
					</tr>
				</tbody>
			</table>
		</div>
	
	</div>
	
</body>
</html>