<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <object th:include="head :: head" th:remove="tag" ></object>
</head>

<body>

	<div class="container" >
	
		 <div class="row">
			<div th:replace="navbar :: navbar" ></div>
		</div>
		
		 <div class="row">
			<table class="table" >
				<tbody>
					<tr>
						<th>Pos</th>
						<th>Team</th>
						<th>Coefficients</th>
					</tr>

					<tr th:each="teamCoeff,iter : ${teamsCoeffs}" th:class="${iter.count &lt; 4} ? 'info' : (${iter.count &lt; 8} ? 'success' : '') ">
						<td th:text="${iter.index + 1} + '.' " />
						<td th:text="${teamCoeff['key'].name}" />
						<td
							th:text="${#numbers.formatInteger(teamCoeff['value'],0,'COMMA')}" />
					</tr>
				</tbody>
			</table>
		</div>
	
	</div>
	
</body>
</html>