<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <object th:include="head :: head" th:remove="tag" ></object>
</head>

<body>

	<div class="container" >
	
		 <div class="row">
			<div th:replace="navbar :: navbar" ></div>
		</div>
		
		 <div class="row">
	
			<table>
				<tbody>
					<tr>
						<th>Team</th>
						<th>W</th>
						<th>D</th>
						<th>L</th>
						<th>PS</th>
						<th>PC</th>
						<th>+/-</th>
					</tr>
					<tr th:each="teamStat: ${teamsStats}">
						<td th:text="${teamStat['key'].name}" />
						<td th:text="${teamStat['value'].wins}" />
						<td th:text="${teamStat['value'].draws}" />
						<td th:text="${teamStat['value'].losses}" />
						<td th:text="${teamStat['value'].goalsScored}" />
						<td th:text="${teamStat['value'].goalsConceded}" />
						<td th:text="${teamStat['value'].goalsScored - teamStat['value'].goalsConceded}" />
					</tr>
				</tbody>
			</table>
		
		</div>
			
	</div>
			
</body>
</html>